eclipse.jdt.ls
amx-items
eshell
history
projectile-bookmarks.eld
projects
recentf
transient
tutorial
games
.cache
\#*
.\#*
auto-save-list
racket-mode
.cache
.dap-breakpoints
.mc-lists.el
.lsp-session-v1
request
workspace
